<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">

</head>
<body>
<div class="container">
            <h2>404 Error</h2>
            <p>The requested URL <strong><%= url %></strong> could not be found.</p>
            <p><a href="/">Go back to home page</a></p>

</div>
<%- include('includes/end.ejs') %>