<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
<main>
    <form class="account-form" action="/admin/get-main" method="POST">
        <%- include('includes/icon.ejs') %>
        <h3 style="text-align: center">Please sign in</h3>
        <div class="form-control">
            <p class="dynamicMessage"> <%= dynamicMessage %></p>

            <label for="email">Email</label>
            <input type="text" name="email" id="email" maxlength="32" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" maxlength="32" required>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <br>
            <a href="/admin/register">Need to register?</a>

        </div>
    </form>
</main>
<%- include('includes/end.ejs') %>