<%- include('includes/head.ejs') %>

</head>

<body>
    <main>
        <form action="/admin/register" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" maxlength="32" required>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" minlength="3" maxlength="32" required>
                <label for="password">Password</label>
                <input type="password 2" name="password" id="password" maxlength="32" required>
            </div>
        </form>
    </main>
</body>
<%- include('includes/end.ejs') %>