<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
<main>
    <form class="account-form" action="/admin/register" method="POST">
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password">
            <br>
            <a class="btn btn-primary" href="/admin/register">Back</a>
            <a href="/">Already registered? Go to login page</a>
        </div>
    </form>
</main>
</body>
<%- include('includes/end.ejs') %>